body{
  font:20px/1.1em arial, sans-serif;
  background:black;
  color: white;
}

input{
  opacity: 0;
}

video, .video{
  width:2%;
  position: absolute;
  left: -2%;
}

.osc{
  font-family: "OCR A";
  position: absolute;
  width: auto;
  padding: 2%;
}
.osc > h2 > p {
  display: inline;
  float: top;
}
#OSC1{
  left: 0%;
  top: 0%;
  height: 48%;
width: 35%;
}
#OSC2{
  left: 65%;
  top: 0%;
  height: 48%;
width: 35%;
}
#OSC3{
  left: 35%;
  top: 0%;
  height: 48%;
width: 30%;
}
#greyvalues{
  margin-top: 15%;
height: 83%;  background-color: rgb(255,255,255);

}

#plotter_temp{
  width: 100%;
  height: 80%;


}

#visu_gates{
  width: 100%;
  height: 80%;
  margin-top: 14%;
}